* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: radial-gradient(circle at top, #4856c7, #ffffff);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Card */
.container {
  width: 480px;
  background: rgba(30, 41, 59, 0.8);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 35px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.6);
  color: white;
}

/* Smooth transition */
.container {
  transition: all 0.4s ease;
  cursor: pointer;
}

/* Hover Effect */
.container:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.75);
  background: rgba(30, 41, 59, 0.9);
}

.container:hover {
  box-shadow: 
    0 35px 80px rgba(0, 0, 0, 0.75),
    0 0 30px rgba(99, 102, 241, 0.4);
}
/* Header */
.header {
  text-align: center;
  margin-bottom: 25px;
}

.header h1 {
  font-size: 30px;
  font-weight: 700;
}

.header p {
  font-size: 14px;
  opacity: 0.7;
  margin-top: 5px;
}

/* Input */
.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.input-group input {
  flex: 1;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: #334155;
  color: white;
  font-size: 14px;
  transition: 0.3s;
}

.input-group input:focus {
  outline: none;
  background: #475569;
  box-shadow: 0 0 0 2px #3b82f6;
}

.input-group button {
  width: 50px;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  background: linear-gradient(135deg, #3b82f6, #6366f1);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.input-group button:hover {
  transform: scale(1.08);
}

/* Todo List */
.todo-list {
  max-height: 350px;
  overflow-y: auto;
  padding-right: 5px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e293b;
  padding: 14px 18px;
  border-radius: 14px;
  margin-bottom: 12px;
  transition: 0.3s;
  animation: fadeIn 0.3s ease;
}

.todo-item:hover {
  transform: translateY(-2px);
  background: #334155;
}

.todo-title {
  cursor: pointer;
  font-size: 15px;
  flex: 1;
  transition: 0.3s;
}

.todo-title.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/* Delete Button */
.delete-btn {
  background: rgba(239, 68, 68, 0.15);
  border: none;
  color: #ef4444;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.delete-btn:hover {
  background: #ef4444;
  color: white;
}

/* Empty */
.empty-state {
  text-align: center;
  opacity: 0.6;
  padding: 20px;
}

/* Scrollbar */
.todo-list::-webkit-scrollbar {
  width: 6px;
}

.todo-list::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 10px;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}